# Visual Studio Ignores
[Bb]in/
obj/

*.suo
*.user

*.ncb

# Resharper Ignores
_ReSharper.*/
*.resharper.user

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig

# Misc Ignores
Thumbs.db
!libs/*/Bin/

# StyleCop Cache ignores
*StyleCop.Cache

*.MDF
*.ldf

.vs10x
*.vs10x